/* dashboard.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the charts within the container */
}

.page-title {
    text-align: center;
    margin-bottom: 2rem;
}

.chart-container {
    width: 80vw; /* Adjust based on your preference */
    height: 40vh; /* Adjust based on your preference */
    margin-bottom: 2rem;
    display: flex; /* Flex to help with centering */
    justify-content: center; /* Center the canvas horizontally */
    align-items: center; /* Center the canvas vertically */
}
